@model ServiceDeskFYP.Models.ApplicationUser

@{
    ViewBag.Title = "View Subordinate";
}

<h2>View Subordinate</h2>

<div>
    <hr />

    @if (ViewBag.SuccessMessage != null)
    {
        <h5 style="color: blue">@ViewBag.SuccessMessage</h5>
    }
    @if (ViewBag.ErrorMessage != null)
    {
        <h5 style="color: red">@ViewBag.ErrorMessage</h5>
    }


    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.UserName)*@
            Username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.PhoneNumber)*@
            Phone Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("View Calls", "ViewSubordinateCalls", new { sub_username = Model.UserName }) |
    @*@Html.ActionLink("User Report", "Index") |*@
    User Report |
    @Html.ActionLink("Send Alert", "SendAlertToSubGET") |
    @Html.ActionLink("Back to List", "Index")
</p>
