@model ServiceDeskFYP.Models.ViewAlertsPageViewModel

@{
    ViewBag.Title = "Alerts";

    var ExceededSLATerm = Model.ExceededSLACalls > 1 ? "calls" : "call";
    var PastRequiredTerm = Model.PastRequiredDate > 1 ? "calls" : "call";
    var HasOrHaveTerm = Model.PastRequiredDate > 1 ? "have" : "has";

    string header = "";
    if (string.IsNullOrEmpty(Model.GroupName))
    {
        header = "Your ";
    }
    if (Model.IsDismissed)
    {
        header = header + "Dismissed Alerts";
    }
    else
    {
        header = header + "Alerts";
    }
    if (!string.IsNullOrEmpty(Model.GroupName))
    {
        header = header + " of " + Model.GroupName;
    }
}



<h2>@header</h2>

<!--HANDLE ERRORS-->
@if (ViewBag.ErrorMessage != null)
{
    <h5 style="color:red">@ViewBag.ErrorMessage</h5>
}
@if (ViewBag.SuccessMessage != null)
{
    <h5 style="color:blue">@ViewBag.SuccessMessage</h5>
}

<!--DISPLAY STATISTICS-->
@if ((Model.ExceededSLACalls != 0) && (Model.PastRequiredDate != 0))
{
    <a href="/desk?resource=@Model.GroupId&urgent=true">
        <p class="alert-danger">
            You have <u><strong>@Model.ExceededSLACalls</strong></u> @ExceededSLATerm past SLA
            & <u><strong>@Model.PastRequiredDate</strong></u> @PastRequiredTerm which @HasOrHaveTerm been exceeded
        </p>
    </a>

}
else
{
    if (Model.PastRequiredDate != 0)
    {
        <a href="/desk?resource=@Model.GroupId&urgent=true">
            <p class="alert-danger">You have @Model.PastRequiredDate @PastRequiredTerm which @HasOrHaveTerm exceeded their required-date</p>
        </a>
    }
    if (Model.ExceededSLACalls != 0)
    {
        <a href="/desk?resource=@Model.GroupId&urgent=true">
            <p class="alert-danger">You have @Model.ExceededSLACalls @ExceededSLATerm past SLA</p>
        </a>
    }
}

<!--END OF DISPLAY STATISTICS-->

<p>
    @if (!Model.IsDismissed)
    {
        @Html.ActionLink("Switch to Dismissed", "index", new { resource = Model.GroupId, dismissed = "true" })
    }
    else
    {
        @Html.ActionLink("Switch to Non-Dismissed", "index", new { resource = Model.GroupId, dismissed = "" })
    }

</p>


<div class="container">
    @foreach (var item in Model.Alerts)
    {
        <hr />
        <div class="row">
            <div class="col-xs-3 col-sm-2 col-md-1">
                @if (item.FromGroupId != null)
                {
                    <img class="mr-3" src="~/Content/group.jpg" height="60" width="60" alt="Sample photo">

                }
                else
                {
                    <img class="mr-3" src="~/Content/person.jpeg" height="60" width="60" alt="Sample photo">

                }
            </div>
            <div class="col-xs-9 col-sm-10 col-md-11">
                <p>
                    @if (item.FromUserId != null && item.FromGroupId != null)
                    {
                        <h4>@item.FromUserName via @item.FromGroupName <small>@item.Created</small></h4>
                    }
                    else if (item.FromUserId != null)
                    {
                        <h4>@item.FromUserName <small>@item.Created</small></h4>
                    }
                    else if (item.FromGroupId != null)
                    {
                        <h4>@item.FromGroupName <small>@item.Created</small></h4>
                    }
                    @item.Text
                    <br />
                    @if (item.AssociatedCallRef != null)
                    {
                        @Html.ActionLink("Go to", "ViewCall", "Desk", new { Reference = item.AssociatedCallRef }, null)
                        <text>&nbsp;</text>
                    }
                    @if (item.AssociatedKnowledgeId != null)
                    {
                        @Html.ActionLink("Go to", "FindKnowledgeURL", "Groups", new { knowledgeid = item.AssociatedKnowledgeId }, null)
                        <text>&nbsp;</text>
                    }
                    @if (item.FromUserId != null && item.Dismissed == false)
                    {
                        @Html.ActionLink("Reply", "ReplyToAlertGET", new { alertid = item.Id }, null)
                        <text>&nbsp;</text>
                    }
                    @if (item.Dismissed == false)
                    {
                        @Html.ActionLink("Dismiss", "DismissUndismissAlert", new { alertid = item.Id }, new { onclick = "return confirm('Please confirm you want to remove alert...');" })
                    }
                    else
                    {
                        @Html.ActionLink("Reinstate", "DismissUndismissAlert", new { alertid = item.Id }, null)
                    }
                </p>
            </div>
        </div>
    }
</div>
