@model ServiceDeskFYP.Models.ViewAlertsPageViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Alerts</h2>

<!--DISPLAY STATISTICS-->
@if (Model.ExceededSLACalls != 0)
{
    <p class="alert-danger">You have @Model.ExceededSLACalls Calls past SLA</p>
}
@if (Model.PastRequiredDate != 0)
{
    <p class="alert-danger">You have @Model.PastRequiredDate Calls which have exceeded their required-date</p>
}



<!--END OF DISPLAY STATISTICS-->


@foreach (var item in Model.Alerts)
{
    <p>
        @if (item.FromUserId != null)
        {
            <text>From: @item.FromUserName</text> <br />
        }
        @item.Text
        <br />
        @if (item.AssociatedCallRef != null)
        {
            @Html.ActionLink("Go to", "ViewCall", "Desk", new { Reference = item.AssociatedCallRef }, null)
        }
        @if (item.AssociatedKnowledgeId != null)
        {
            @Html.ActionLink("Go to", "FindKnowledgeURL", "Groups", new { knowledgeid = item.AssociatedKnowledgeId }, null)
        }
        @if (item.FromUserId != null)
        {
            <text>Reply</text>
        }
        @if (item.Dismissed == false)
        {
            <text>Dismiss</text>
        }
        else
        {
            <text>Restate</text>
        }
    </p>
}