@model ServiceDeskFYP.Models.ResetSLAPageViewModel

@{
    ViewBag.Title = "Reset SLA";
}

<h2>Reset SLA</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Model.CallSummary</h4>
        <hr />
        <text>Re-setting the SLA will reset the assigned SLA timer</text><br /><br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SLAForm.SLAPolicyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SLAForm.SLAPolicyName, new SelectList(Model.SLAPolicies.Select(n=>n.Name)), "Select Policy", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SLAForm.SLAPolicyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SLAForm.SLALevel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SLAForm.SLALevel, new SelectList(Model.SLALevels), "Select Level", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SLAForm.SLALevel, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.CallSummary)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    <div>
        @Html.ActionLink("Return to call", "ViewCall")
    </div>
