@model ServiceDeskFYP.Models.ReportPageViewModel

@{
    ViewBag.Title = "Call Report";

    string OpenToCloseTime = "N/A";
    if (Model.Statistics.OpenToCloseTime != null)
    {
        OpenToCloseTime = Model.Statistics.OpenToCloseTime.Value.Days + " days "
            + Model.Statistics.OpenToCloseTime.Value.Hours + " hours "
            + Model.Statistics.OpenToCloseTime.Value.Minutes + " mins "
            + Model.Statistics.OpenToCloseTime.Value.Seconds + " secs";
    }

    string ClosedWithinSLA = "N/A";
    if (Model.Statistics.ClosedWithinSLA != null)
    {
        if (Model.Statistics.ClosedWithinSLA == true) { ClosedWithinSLA = "Yes"; } else { ClosedWithinSLA = "No"; }
    }

    string CallOpenedForTime = "N/A";
    if (Model.Statistics.CallOpenedForTime != null)
    {
        CallOpenedForTime = Model.Statistics.CallOpenedForTime.Value.Days + " days "
            + Model.Statistics.CallOpenedForTime.Value.Hours + " hours "
            + Model.Statistics.CallOpenedForTime.Value.Minutes + " mins "
            + Model.Statistics.CallOpenedForTime.Value.Seconds + " secs";
    }
}

<h2>View Call Report</h2>
<hr />

<p>
    @Html.ActionLink("Return to Call", "ViewCall")
</p>


<div class="container">
    <table class="table table-bordered table-striped">
        <tr>
            <th>Time to Resolve</th>
            <td>@OpenToCloseTime</td>
        </tr>
        <tr>
            <th>Closed within SLA?</th>
            <td>@ClosedWithinSLA</td>
        </tr>
        <tr>
            <th>Number of times SLA Reset</th>
            <td>@Model.Statistics.SlaResetCount</td>
        </tr>
        <tr>
            <th>Time Call Open</th>
            <td>@CallOpenedForTime</td>
        </tr>
    </table>
</div>


<br /><br />











<!--Start of Actioned by graph-->
<div id="actionedbychartContainer" style="height: 370px; width: 100%;"></div>
<!--End of Actioned by graph-->


@section scriptshead{
    <script>
        window.onload = function () {

        var chart = new CanvasJS.Chart("actionedbychartContainer", {
	        animationEnabled: true,
	        theme: "light2", // "light1", "dark1", "dark2"
	        exportEnabled: false,
	        title: {
		        text: "Actioned by"
	        },
	        data: [{
		        type: "column",
		        dataPoints:  @Html.Raw(Model.ActionedByJsonData)
	        }]
        });
        chart.render();

        }
    </script>
}

@section scripts{
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
}
