@model ServiceDeskFYP.Models.ReportPageViewModel

@{
    ViewBag.Title = "Call Report";
}

@section scriptshead{
    <script>
        window.onload = function () {

        var chart = new CanvasJS.Chart("actionedbychartContainer", {
	        animationEnabled: true,
	        theme: "light2", // "light1", "dark1", "dark2"
	        exportEnabled: false,
	        title: {
		        text: "Actioned by"
	        },
	        data: [{
		        type: "column",
		        dataPoints:  @Html.Raw(Model.ActionedByJsonData)
	        }]
        });
        chart.render();

        }
    </script>
}

<h2>View Call Report</h2>




@if (Model.Statistics.OpenToCloseTime != null)
{
    <text>@Model.Statistics.OpenToCloseTime</text><br />
    <text>@Model.Statistics.OpenToCloseTime.Value.Days days</text>
    <text>@Model.Statistics.OpenToCloseTime.Value.Hours hours</text>
    <text>@Model.Statistics.OpenToCloseTime.Value.Minutes mins</text>
    <text>@Model.Statistics.OpenToCloseTime.Value.Seconds secs</text>


}










<!--Start of Actioned by graph-->
<div id="actionedbychartContainer" style="height: 370px; width: 100%;"></div>
<!--End of Actioned by graph-->



@section scripts{
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
}
