@model ServiceDeskFYP.Models.ViewCallPageViewModel

@{
    ViewBag.Title = "View Call";
}

<h2>Call Details</h2>

<div>

    <hr />

    <div>
        @Html.ActionLink("Action", "ActionCallGET") |
        @Html.ActionLink("Notify", "NotifyGET") |
        @if (Model.CallDetails.Closed)
        {
            @Html.ActionLink("Re-Open Call", "CloseOpenCall", new { Reference = Model.CallDetails.Reference })
        }
        else
        {
            @Html.ActionLink("Close Call", "CloseOpenCall", new { Reference = Model.CallDetails.Reference })
        } |
        @Html.ActionLink("Edit", "EditCallGET") |
        @if (Model.CallDetails.LockedToUserId != null)
        {
            @Html.ActionLink("Clear Lock", "ClearLock", new { Reference = Model.CallDetails.Reference })<text> | </text>
        }
        else
        {
            @Html.ActionLink("Lock", "LockCall", new { Reference = Model.CallDetails.Reference })<text> | </text>
        }
        @Html.ActionLink("Assign Resource", "AssignResourceGET") |
        @Html.ActionLink("View Report", "ViewCallReport") |
        @Html.ActionLink("Reset SLA", "ResetSlaGET")
    </div>


    @if (ViewBag.ErrorMessage != null)
    {
        <h5 style="color:red">@ViewBag.ErrorMessage</h5>
    }
    @if (ViewBag.SuccessMessage != null)
    {
        <h5 style="color:blue">@ViewBag.SuccessMessage</h5>
    }

    <br />

    <!-- Start of accordion-->
    <div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading clickable">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Call Details</a>
                    </h4>
                </div>

                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.CallDetails.Reference)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CallDetails.Reference)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.CallDetails.Summary)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CallDetails.Summary)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.CallDetails.Created)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.CallDetails.Created)
                            </dd>
                            @if (!String.IsNullOrEmpty(Model.CallDetails.ResourceUserId))
                            {
                                <dt>
                                    @Html.DisplayNameFor(model => model.CallDetails.ResourceUserName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CallDetails.ResourceUserName)
                                </dd>
                            }
                            else
                            {
                                <dt>
                                    @Html.DisplayNameFor(model => model.CallDetails.ResourceGroupName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CallDetails.ResourceGroupName)
                                </dd>
                            }
                            @if (Model.CallDetails.LockedToUsername != null)
                            {
                                <dt>
                                    @Html.DisplayNameFor(model => model.CallDetails.LockedToUsername)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CallDetails.LockedToUsername)
                                </dd>
                            }

                            <dt>
                                SLA
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CallDetails.SlaPolicy) - @Html.DisplayFor(model => model.CallDetails.SlaLevel)
                                @if (Model.CallDetails.SlaExpiry != null)
                                {
                                    <text>- Expected: @Html.DisplayFor(model => model.CallDetails.SlaExpiry)</text>
                                }
                            </dd>
                            @if (Model.CallDetails.Required_By != null)
                            {
                                <dt>
                                    @Html.DisplayNameFor(model => model.CallDetails.Required_By)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CallDetails.Required_By)
                                </dd>
                            }
                            <dt>
                                @Html.DisplayNameFor(model => model.CallDetails.Category)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.CallDetails.Category)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.CallDetails.Regarding_Ref)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CallDetails.Regarding_Ref)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.CallDetails.Closed)
                            </dt>

                            <dd>
                                @if (Model.CallDetails.Closed == true)
                                {
                                    <text>Yes</text>
                                }
                                else
                                {
                                    <text>No</text>
                                }
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CallDetails.Hidden)
                            </dt>

                            <dd>
                                @if (Model.CallDetails.Hidden == true)
                                {
                                    <text>Yes</text>
                                }
                                else
                                {
                                    <text>No</text>
                                }
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.CallDetails.Description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CallDetails.Description)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Contact Details</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        @if (Model.CallDetails.ForUserId == null)
                        {
                            @Html.ActionLink("Associate Client", "AssociateClientGET")
                        }
                        else
                        {
                            @Html.ActionLink("Clear Association", "ClearAssociation", new { Reference = Model.CallDetails.Reference })
                        }

                        <dl class="dl-horizontal">
                            @if (Model.CallDetails.ForUserName != null)
                            {
                                <dt>
                                    @Html.DisplayNameFor(model => model.CallDetails.ForUserName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CallDetails.ForUserName)
                                </dd>
                            }
                            <dt>
                                @Html.DisplayNameFor(model => model.CallDetails.FirstName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CallDetails.FirstName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CallDetails.Lastname)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CallDetails.Lastname)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CallDetails.Email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CallDetails.Email)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CallDetails.PhoneNumber)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CallDetails.PhoneNumber)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CallDetails.Extension)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CallDetails.Extension)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CallDetails.OrganisationAlias)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CallDetails.OrganisationAlias)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CallDetails.Organisation)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CallDetails.Organisation)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CallDetails.Department)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CallDetails.Department)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Actions</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ActionsList.ElementAt(0).ActionedByUserName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ActionsList.ElementAt(0).Created)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ActionsList.ElementAt(0).Type)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ActionsList.ElementAt(0).TypeDetails)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ActionsList.ElementAt(0).Comments)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ActionsList.ElementAt(0).Attachment)
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.ActionsList)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ActionedByUserName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Created)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Type)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TypeDetails)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Comments)
                                            </td>
                                            <td>
                                                @if (item.Attachment == true)
                                                {
                                                    @Html.ActionLink("Download", "DownloadFileFromAction", new { actionid = item.Id, Reference = Model.CallDetails.Reference })
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Accordion -->



</div>

