@model ServiceDeskFYP.Models.ViewCallPageViewModel

@{
    ViewBag.Title = "View Call";

    System.Web.HtmlString description = null;
    if (!string.IsNullOrEmpty(Model.CallDetails.Description))
    {
        description = new HtmlString(Model.CallDetails.Description.Replace(Environment.NewLine, "<br />"));
    }
}

<h2>Call Details</h2>

<div>

    <hr />

    <div>
        @Html.ActionLink("Action", "ActionCallGET") |
        @Html.ActionLink("Notify", "NotifyGET") |
        @if (Model.CallDetails.Closed)
        {
            @Html.ActionLink("Re-Open Call", "CloseOpenCall", new { Reference = Model.CallDetails.Reference })
        }
        else
        {
            @Html.ActionLink("Close Call", "CloseOpenCall", new { Reference = Model.CallDetails.Reference })
        } |
        @Html.ActionLink("Edit", "EditCallGET") |
        @if (Model.CallDetails.LockedToUserId != null)
        {
            @Html.ActionLink("Clear Lock", "ClearLock", new { Reference = Model.CallDetails.Reference })<text> | </text>
        }
        else
        {
            @Html.ActionLink("Lock", "LockCall", new { Reference = Model.CallDetails.Reference })<text> | </text>
        }
        @Html.ActionLink("Assign Resource", "AssignResourceGET") |
        @Html.ActionLink("View Report", "ViewCallReport") |
        @Html.ActionLink("Reset SLA", "ResetSlaGET")
    </div>


    @if (ViewBag.ErrorMessage != null)
    {
        <h5 style="color:red">@ViewBag.ErrorMessage</h5>
    }
    @if (ViewBag.SuccessMessage != null)
    {
        <h5 style="color:blue">@ViewBag.SuccessMessage</h5>
    }

    <br />

    <!-- Start of accordion-->
    <div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading clickable">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Call Details</a>
                    </h4>
                </div>

                <div id="collapse1" class="panel-collapse collapse in">

                    <table class="table table-responsive table-bordered table-condensed table-striped">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CallDetails.Reference)</th>
                            <td>@Html.DisplayFor(model => model.CallDetails.Reference)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CallDetails.Summary)</th>
                            <td>@Html.DisplayFor(model => model.CallDetails.Summary)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CallDetails.Created)</th>
                            <td>@Html.DisplayFor(model => model.CallDetails.Created)</td>
                        </tr>
                        @if (!String.IsNullOrEmpty(Model.CallDetails.ResourceUserId))
                        {
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CallDetails.ResourceUserName)</th>
                                <td>@Html.DisplayFor(model => model.CallDetails.ResourceUserName)</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CallDetails.ResourceGroupName)</th>
                                <td>@Html.DisplayFor(model => model.CallDetails.ResourceGroupName)</td>
                            </tr>
                        }
                        @if (Model.CallDetails.LockedToUsername != null)
                        {
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CallDetails.LockedToUsername)</th>
                                <td>@Html.DisplayFor(model => model.CallDetails.LockedToUsername)</td>
                            </tr>
                        }
                        <tr>
                            <th>SLA</th>
                            <td>
                                @Html.DisplayFor(model => model.CallDetails.SlaPolicy) - @Html.DisplayFor(model => model.CallDetails.SlaLevel)
                                @if (Model.CallDetails.SlaExpiry != null)
                                {
                                    <text>- Expected: @Html.DisplayFor(model => model.CallDetails.SlaExpiry)</text>
                                }
                            </td>
                        </tr>
                        @if (Model.CallDetails.Required_By != null)
                        {
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CallDetails.Required_By)</th>
                                <td>@Html.DisplayFor(model => model.CallDetails.Required_By)</td>
                            </tr>
                        }
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CallDetails.Category)</th>
                            <td>@Html.DisplayFor(model => model.CallDetails.Category)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CallDetails.Regarding_Ref)</th>
                            <td>@Html.DisplayFor(model => model.CallDetails.Regarding_Ref)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CallDetails.Closed)</th>
                            <td>
                                @if (Model.CallDetails.Closed == true)
                                {
                                    <text>Yes</text>
                                }
                                else
                                {
                                    <text>No</text>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CallDetails.Hidden)</th>
                            <td>
                                @if (Model.CallDetails.Hidden == true)
                                {
                                    <text>Yes</text>
                                }
                                else
                                {
                                    <text>No</text>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CallDetails.Description)</th>
                            <td>@description</td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Contact Details</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        @if (Model.CallDetails.ForUserId == null)
                        {
                            @Html.ActionLink("Associate Client", "AssociateClientGET")
                        }
                        else
                        {
                            @Html.ActionLink("Clear Association", "ClearAssociation", new { Reference = Model.CallDetails.Reference })
                            <br />
                            if (!Model.CallDetailsMatch)
                            {
                                <span style="color:red">The client may have updated some details - You may wish to re-associate this</span>
                            }
                        }

                        <table class="table table-responsive table-bordered table-condensed table-striped">
                            @if (Model.CallDetails.ForUserName != null)
                            {
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.CallDetails.ForUserName)</th>
                                    <td>@Html.DisplayFor(model => model.CallDetails.ForUserName)</td>
                                </tr>
                            }

                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CallDetails.FirstName)</th>
                                <td>@Html.DisplayFor(model => model.CallDetails.FirstName)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CallDetails.Lastname)</th>
                                <td>@Html.DisplayFor(model => model.CallDetails.Lastname)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CallDetails.Email)</th>
                                <td>@Html.DisplayFor(model => model.CallDetails.Email)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CallDetails.PhoneNumber)</th>
                                <td>@Html.DisplayFor(model => model.CallDetails.PhoneNumber)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CallDetails.Extension)</th>
                                <td>@Html.DisplayFor(model => model.CallDetails.Extension)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CallDetails.OrganisationAlias)</th>
                                <td>@Html.DisplayFor(model => model.CallDetails.OrganisationAlias)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CallDetails.Organisation)</th>
                                <td>@Html.DisplayFor(model => model.CallDetails.Organisation)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CallDetails.Department)</th>
                                <td>@Html.DisplayFor(model => model.CallDetails.Department)</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Actions</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ActionsList.ElementAt(0).ActionedByUserName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ActionsList.ElementAt(0).Created)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ActionsList.ElementAt(0).Type)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ActionsList.ElementAt(0).TypeDetails)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ActionsList.ElementAt(0).Comments)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ActionsList.ElementAt(0).Attachment)
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.ActionsList)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ActionedByUserName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Created)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Type)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TypeDetails)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Comments)
                                            </td>
                                            <td>
                                                @if (item.Attachment == true)
                                                {
                                                    @Html.ActionLink("Download", "DownloadFileFromAction", new { actionid = item.Id, Reference = Model.CallDetails.Reference })
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Accordion -->



</div>

