@model ServiceDeskFYP.Models.GroupMember

@{
    ViewBag.Title = "GroupHome";
}

<h2>@Model.Group.Name</h2>
<h4>@Model.Group.Description</h4>

<br />

<h4>Group-Member Tools</h4>
<ul>
    @if (!Model.Owner)
    {
        <li>@Html.ActionLink("View Members", "ManageAndViewMembers", new { groupid = Model.Group_Id })</li>
    }
    <li>Knowledge Base</li>
    <li>View Alerts</li>
    <li>@Html.ActionLink("View Calls", "Index", "Desk", new { resource = Model.Group_Id }, null)</li>
</ul>
@if (Model.Owner)
{
    <hr />
    <h4>Group-Owner Tools</h4>
    <ul>
        <li>@Html.ActionLink("Manage Members", "ManageAndViewMembers", new { groupid = Model.Group_Id })</li>
        <li>View Group Report</li>
    </ul>
}