@model ServiceDeskFYP.Models.ViewKnowledgeGroupViewModel

@{
    ViewBag.Title = "Knowledge";


    System.Web.HtmlString description = null;
    if (!string.IsNullOrEmpty(Model.Description))
    {
        description = new HtmlString(Model.Description.Replace(Environment.NewLine, "<br />"));
    }
}

<h2>Knowledge</h2>

<div>
    <hr />

    @if (ViewBag.ErrorMessage != null)
    {
        <h5 style="color:red">@ViewBag.ErrorMessage</h5>
    }
    @if (ViewBag.SuccessMessage != null)
    {
        <h5 style="color:blue">@ViewBag.SuccessMessage</h5>
    }





    <div class="panel-group" id="accordion">
        <div class="panel panel-default panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Details
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-condensed">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.GroupName)</th>
                                <td>@Html.DisplayFor(model => model.GroupName)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Summary)</th>
                                <td>@Html.DisplayFor(model => model.Summary)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Updated)</th>
                                <td>@Html.DisplayFor(model => model.Updated)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.LastUpdatedByUserName)</th>
                                <td>@Html.DisplayFor(model => model.LastUpdatedByUserName)</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        Description
                    </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    @description
                </div>
            </div>
        </div>
    </div>


</div>
<p>
    @Html.ActionLink("Update", "UpdateKnowledgeGET") |
    @Html.ActionLink("Notify", "NotifyKnowledgeGET") |
    @if (Model.IsLoggedInUserOwner)
    {
        @Html.ActionLink("Remove", "RemoveKnowledge", new { groupid = Model.Group_Id, knowledgeid = Model.Id }, new { onclick = "return confirm('Are you sure you wish to remove this knowledge?');" })
        <text>|</text>
    }
    @Html.ActionLink("Back to List", "ViewKnowledges")
</p>
