@model ServiceDeskFYP.Models.ViewKnowledgesPageGroupViewModel

@{
    ViewBag.Title = "ViewKnowledges";
}

<h2>ViewKnowledges</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Knowledges.First().Updated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Knowledges.First().Summary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Knowledges) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
