@model ServiceDeskFYP.Models.ViewKnowledgesPageGroupViewModel

@{
    /**/

    ViewBag.Title = "ViewKnowledges";
}

<h2>ViewKnowledges</h2>

<p>
    @Html.ActionLink("Create Knowledge", "CreateKnowledgeGET") |
    @Html.ActionLink("Clear", "ViewKnowledges", new { search = string.Empty })

    <!--Search field-->
    <form method="get" action="">
        <input type="text" name="search" placeholder="Search..." />
        <input type="submit" value="Search" />
    </form>
</p>

@if (ViewBag.ErrorMessage != null)
{
    <h5 style="color:red">@ViewBag.ErrorMessage</h5>
}
@if (ViewBag.SuccessMessage != null)
{
    <h5 style="color:blue">@ViewBag.SuccessMessage</h5>
}

@if (Model.Knowledges.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Knowledges.First().Updated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Knowledges.First().Summary)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Knowledges)
            {
                <tr onclick="window.location='/groups/@item.Group_Id/kbase/view/@item.Id';">
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Summary)
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <h4>Sorry, there are no knowledges in this group</h4>
}


