@model ServiceDeskFYP.Models.ViewLogsPageViewModel

@{
    ViewBag.Title = "Logs";
    int.TryParse(Request.QueryString["page"], out int page);
    var type = Request.QueryString["type"] == null ? null : Request.QueryString["type"];
    if (page < 1)
    {
        page = 1;
    }
}

<h2>Logs</h2>

@Html.ActionLink("Return to Tools", "Index")

<form method="get" action="">
    @Html.DropDownList("type", new SelectList(Model.Types), "Select Filter", null)
    <input type="submit" value="Select" />
</form>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LogsList.First().Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogsList.First().Detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogsList.First().Datetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogsList.First().PublicIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogsList.First().LocalIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogsList.First().Username)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LogsList)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicIP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalIP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
            </tr>

        }
    </tbody>
</table>
@if (page > 1)
{
    @Html.ActionLink("Previous", "Logs", new { page = page - 1, type = type }) <text>|</text>
}
@Html.ActionLink("Next", "Logs", new { page = page + 1, type = type })